/*UTILITIES*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.float-l{
  float: left;
}

.float-r{
  float: right;
}
/*END UTILITIES*/

/*HEADER*/
header{
  height: 100px;
  background-color: lightblue;
}

.left-navbar-container{
  width: 300px;
  position: relative;
  top: 40px;

}

.left-navbar-container nav ul li{
  display: inline-block;
  font-size: 20px;
}


.left-navbar-container ul li:first-child{
  border-right: 1px solid #000;
  padding-right: 30px;
}

.left-navbar-container nav ul li:nth-child(2){
  padding-left: 30px;
}

.left-navbar-container nav ul li a{
  text-decoration: none;
  color: #000;
}

/*END HEADER*/
