/*UTILITIES*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.float-l{
  float: left;
}

.float-r{
  float: right;
}
/*END UTILITIES*/

/*HEADER*/
header{
  height: 100px;
  background-color: lightblue;
}

.left-navbar-container{
  width: 300px;
  position: relative;
  top: 40px;

}

.left-navbar-container nav ul li{
  display: inline-block;
  font-size: 20px;
}


.left-navbar-container ul li:first-child{
  border-right: 1px solid #000;
  padding-right: 30px;
}

.left-navbar-container nav ul li:nth-child(2){
  padding-left: 30px;
}

.left-navbar-container nav ul li a{
  text-decoration: none;
  color: #000;
}




.right-navbar-container{
  width: 400px;
  height: 50px;
  position: relative;
  top:30px;


}


 .right-navbar-container nav ul li a img{
  width: 40px;
  height: 40px;
}

.right-navbar-container nav ul li{
  display: inline-block;
  font-size: 20px;
}

.right-navbar-container nav ul li:first-child{
  padding-right: 50px;
}

.right-navbar-container nav ul li a{
  text-decoration: none;

}

.login-button{
  border: 1px solid #f87058;
  color: #f87058;
  text-align: center;
  padding: 10px 20px;
  border-radius: 4px;
}

.get-hubspot-free-button{
  background-color: #f87058;
  border-radius: 4px;
  color: lightblue;
  padding: 10px 20px;;
}



/*END HEADER*/
